@{
    ViewData["Title"] = "Home Page";
}
@model List<ProductViewModel>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">


                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label"></label>
                        <select class="form-control" id="selectRole" onchange="getSelectItem()" asp-items="@ViewBag.roleList">
                            <option value="">Rol seçiniz</option>
                        </select>
                    </div>




                    <h5 class="card-title">Ürünler</h5>

                    @*<a asp-controller="Courses" asp-action="Create" class="btn btn-primary mb-3">Ürün oluştur</a>*@
                    <div id="productList">
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function getSelectItem() {
        var role = $("#selectRole :selected").text();
        $.ajax({
            type: 'POST',
            url: '/Home/GetProductList',
            data: { role },
            success: function(partialView) {
                $("#productList").html(partialView);
            }

        });

    }


</script>
